
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View Gist</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<style>
body { background:#0d1117; color:white; font-family:Arial; padding:20px; }
pre { padding:15px; background:#161b22; border-radius:10px; }
button { margin-top:10px; padding:8px; }
</style>
</head>
<body>

<h2 id="title"></h2>
<pre><code id="code"></code></pre>

<button onclick="copyCode()">Copy</button>

<script>
const id = location.pathname.split("/")[2];

fetch("/api/gist/" + id)
.then(r=>r.json())
.then(d=>{
    title.innerText = d.title;
    code.innerText = d.code;
    hljs.highlightAll();
});

function copyCode(){
    navigator.clipboard.writeText(code.innerText);
    alert("Copied");
}
</script>

</body>
</html>
